body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
}

.password-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.password {
	padding: 10px;
	margin-right: 10px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	background-color: #fff;
}

.generate-button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
}

.generate-button:hover {
	background-color: #3e8e41;
}
